@model IEnumerable<WIPCream.Presentation.WUI.Models.Test.TestUIDTO>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_Navigation")

<div id="wrapper">
    <div class="row content">
        <div class="col-xs-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="hpanel">
                        <h2>Tests</h2>

                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Discipline.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Discipline.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.TestId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.TestId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.TestId })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>